:root {
    --blue-900: hsl(217, 19%, 35%);
    --blue-700: hsl(214, 17%, 51%);
    --blue-500: hsl(212, 23%, 69%);
    --blue-200: hsl(210, 46%, 95%);

    --weight-700: 700;
    --weight-500: 500;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-family: 'Manrope', sans-serif;
}

main {
    display: flex;
    max-width: 900px;
    width: 80%;
    border-radius: 20px;
    /* overflow: hidden; */
    /* border: 1px solid green; */
    overflow-anchor: auto;
    box-shadow: 2px 5px 40px var(--blue-500) ;
}

.drawers {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 100%;
    border-radius: 20px 0 0px 20px;
}

.section--1 {
    width: 40%;
}

h1 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: var(--weight-700);
    color: var(--blue-900)
}

p {
    font-size: 1rem;
    font-weight: var(--weight-500);
    color: var(--blue-700)
}

.section--2 {
    width: 60%;
}

.section--2__text {
    padding: 3em 3em 0;
}

.section__authorContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 1em 0.5em;
}

.section__authorContent {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    position: relative;
}

.section__author__picture {
    width: 10%;
    border-radius: 1000px;
}

.section__author__name, 
.section__author__date {
    margin: 0;
}

.section__author__name {
    font-weight: var(--weight-700);
    color: var(--blue-900);
}

.section__author__date {
    color: var(--blue-500);
}

.section__author__shareButton {
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.ButtonImg {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    transform: translate(0px, -2px);
    z-index: 2;
}

.section__author__shareButton__popup {
    background-color: var(--blue-900);
    width: 80%;
    height: 3em;
    justify-content: space-evenly;

    border-radius: 10px;
    align-items: center;
    display: none;

    flex-direction: row;

}

.popup__text {
    margin: 0;
    letter-spacing: 0.3em;
    color: var(--blue-500);
    font-weight: 400;
}

/* tooltip arrow */
.section__author__shareButton__popup::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: var(--blue-900) transparent transparent transparent;
}


.icon {
    width: 100%;
    flex-shrink: 0;
}

@media  (max-width: 600px) {
    body {
        min-width: 300px;
    }
    
    main {
        flex-direction: column;
    }
    .section--1 {
        width: 100%;
    }

    .drawers {
        border-radius: 20px 20px 0 0;
    }

    .section--2 {
        width: 100%;
        
    }
}